a.button {
  padding: 1px 6px;
  border: 1px outset buttonborder;
  border-radius: 3px;
  color: buttontext;
  background-color: palegoldenrod;
  text-decoration: none;
}
body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  color: red;
} 
